* { margin:0 auto; padding: 0; }

body { background-color:#232323; color:#acaeaf; font:14px/1.4em Arial, Helvetica, sans-serif }

/* ELEMENTS */

a { color:#8d9197; text-decoration:none; }

a:hover { color:#ce1f2c; }

input [type=checkbox] { vertical-align:middle; }

h1, h2, h3, h4, h5 { font-family:"swiss_721bold_condensed"; text-transform:uppercase; line-height:24px; }

h1 { font-size:36px; }

h2 { font-size:26px; }

h3 { font-size:20px; }

h4 { font-size:16px; }

img { border:0; vertical-align:middle; }

ul { list-style:none; }

/* LAYOUT */

.topbar { background:#000; padding:5px 0; font-size:12px; position:relative; }

.topbar img { margin:0 15px; }

.midbar { position:relative; height:64px}

.navigation { font-size:16px; font-family:"swiss_721bold_condensed"; text-transform:uppercase; }

.navigation ul li { display:inline-block;}

.navigation ul li a { float:left;color:#999b9a; padding:10px 0; display:block; margin-right:69px;  }

.navigation ul li a:hover, .navigation ul li a.current { color:#ce1f2c; }

.navigation ul li a.last { margin-right:0 !important; float:right !important; text-align:left;}

.banner { height:500px; overflow:hidden; /*background:url(../images/banner-bg.png) top center no-repeat;*/ position:relative; z-index:100; }

.banner-pr { height:437px;}

.banner-pr#shopProducts { height:437px; background:url(../images/banner-products.jpg) top center no-repeat; }

.banner-pr-bottom { position:relative; z-index:100; height:40px;}

.product-detail-wrapper { height:563px; background:url(../images/product-detail-banner.jpg) top center no-repeat; }

.product-detail-img { width:460px; float:left; height: 500px;}

.product-detail-wrapper-details { width:450px; padding:0 20px 0 0px; float:left; color:#fff; }

.product-detail-wrapper-details #productIDtop{ height:26px;}

	.product-detail-wrapper-details h1 { font-size:30px; border-top:2px solid #fff; padding-top:10px; line-height: 30px; }
	
	.product-detail-wrapper-details h3 { font-size:18px; font-family:"swiss_721bold_condensed"; text-transform:uppercase; margin-bottom:5px;  }
	
.product-detail-wrapper-details h4{font-family:"swiss_721bold_condensed"; text-transform:uppercase; margin-bottom:0;}

	.product-detail-wrapper-details select { padding:3px 10px; background-color:rgba(255,255,255,.3); border:0; color:#fff; margin-left:10px; }
	
	.product-detail-wrapper-details select option { padding:5px 10px; background-color:rgba(255,255,255,.3);color: #000;}

.search-cart-wrap { width:290px; float:right; margin:10px 0 20px 0; }

#header-search{overflow:auto; width:220px; float:left; }

.breadcrumbs { color:#fff; padding:10px 0; margin-bottom:20px; font-size:12px; background:rgba(0, 0, 0, 0.7);}

.breadcrumbs a { color:#fff; }

.breadcrumbs a:hover { color: #ce1f2c; }

.breadcrumbs2 { padding:10px 0 60px; font-size:12px; color:#232323; background:#FFFFFF;}

.breadcrumbs2 li { display:inline-block; }

.products-container { /*margin:20px 0 5px 0;*/ display:inline-block;}

#product-wrap { margin-top:-438px; position:relative; z-index:200; }

#product-wrap2 { margin-top:-500px; position:relative; z-index:200; }

#product-details { padding:0 0 40px 0; background:url(../images/product-detail-bg.jpg) top repeat-x; }

#product-details p{ margin-bottom:15px; }

#product-benefits ul { list-style: disc; margin-top: 10px; margin-bottom: 20px; }

#product-benefits ul li { list-style: disc; margin-left: 30px; margin-bottom: 5px; float: none !important; }

#product-benefits ul li span { display: inline-block; }

.product-refine-v { /*margin-top:42px;*/ padding:10px 0 5px 12px;  }

.product-refine-v h4{ margin-bottom:0; line-height:24px;}

.product-refine-s { color:#fff; padding:3px 0 6px 12px; margin-bottom:30px; display:block; }

.product-refine-s h4{ display:block; }

.products-box { background-color:#fff; margin:0 1px 1px 0; width:200px; /*height:330px;*/ position:relative; float:left; padding:25px 20px 20px 20px; }

/* Sorting */
#sorting{padding-left:20px;}
#sorting h4{line-height:40px; margin:0; color:#FFFFFF}
.sortby-pop { width:342px; margin-top:-4px;} 

.sortby div { height:40px; border-right:1px solid #3a3a3a; border-left:1px solid #3a3a3a; margin-left:20px} 

.sortby select { font-size:16px; font-family:"swiss_721bold_condensed"; text-transform:uppercase; background-color:#000; color:#acaeaf; height:40px; border:0; padding:0 20px;}

.sortby select:focus {outline:0;}

.sortby select option {line-height:40px; outline:0; border:0}

.sortby select option:focus {outline:0;}

.products-box.last { margin-right:0;}

/*.product-details-wrap { position:absolute; left:20; bottom:15px; color:#232323; width:198px; }*/
.product-details-wrap { left:20; bottom:15px; color:#232323; width:198px; padding:26px 0px 0px 0px;}

.product-details-wrap-recent { position:absolute; left:10; bottom:15px; color:#232323; width:170px; }

.product-name { font-size:16px; font-weight:bold; font-family:"swiss_721bold_condensed"; margin-bottom:25px;}
.product-name {height:45px;}
.product-name.also-like {height:58px;}
.product-name.also-like p { font-size:14px}

.product-name p { font-size:16px; font-weight:bold; font-family:"swiss_721bold_condensed"}
.product-rate { font-size:12px;}

.product-price { width:95px; float:left; font-family:"swiss_721bold_condensed"; font-size:16px }

.product-compare { width:95px; float:left; font-family:"swiss_721_condensedregular"; text-transform:uppercase; font-size:12px;}

.product-compare input[type='checkbox'] { margin:3px 6px 0 0; }

.product-list-view-wrap { border-top:5px solid #FFF; }

.product-list-view { margin-bottom:1px; background-color:#fff; padding:20px; }

.product-list-view-img { width:190px; }

.product-list-view-desc { width:490px; color:#000 }

.product-list-view-desc h3 { font-family:"swiss_721_condensedregular"; text-transform:capitalize; font-size:22px; margin-bottom:5px; }

.product-pop { color:#fff; display:none; }

.product-pop-imgbox { width:240px; height:227px; background-color:#fff; float:left; padding-top:15px; }

.product-pop-desc { width:380px; float:left; padding-left:30px; }


.product-pop-desc select {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0 none;
    color: #fff;
    margin-left: 10px;
    padding: 3px 10px;
}

.product-pop-desc select option{
    color: #fff;
    padding: 3px 10px;
}

.product-pop-desc .btn { padding:5px 25px; }

.product-pop-desc h4 { margin-bottom:0;}

.write-review { background-color:#3a3a3a; padding:20px; color:#fff; position:relative; /*text-align: center;*/}

.write-review .remarks { position:absolute; top:20px; right:20px; font-style:italic;color: #acaeaf; font-size:12px;}

.write-review-wrap h4 { margin-bottom:0; }

.write-review-wrap .btn { padding:8px 30px; }

.write-review-wrap .terms { margin:8px 0 0 50px; font-family:"swiss_721_condensedregular"; }

.write-review p { display:block; color:#acaeaf; /*padding-left:18%;*/ margin-bottom:15px; }

.write-review label { /*font-family:"swiss_721bold_condensed"; font-size:16px; margin-top:15px;*/}

.write-review label>span {
    float: left;
    width: 16%;
    text-align:left;
	text-transform:uppercase;
    padding-right: 10px;
    margin-top: 10px;
}

.write-review .radiowrap { width:80px; float:left; }

.write-review input[type="radio"] {/*margin:10px 15px 0 25px; */}

.write-review input[type="text"], .write-review input[type="email"], .write-review textarea, .write-review select {
	background-color:#4c4c4c;
	border:0;
    color: #fff;
    height: 30px;
    outline: 0 none;
    padding: 5px 5px 5px 8px;
    line-height:15px;
	font-size:14px;
	font-family:"swiss_721_condensedregular";
}

.write-review textarea { height:104px; width:70%; padding-top:5px; }

.write-review select { width:8%; }

.write-review select option { padding-left:10px; line-height:24px; }

#review-write, #review-confirm, #review-close{
    display:none;
}

.write-review .formfield{
    margin-bottom: 15px;
    display:inline-block;
    width: 100%;
}
.write-review .formfield label:first-child {
    width: 16%;
    text-align: left;
    text-transform: uppercase;
    padding:11px 10px 11px 0;
    font-family: "swiss_721bold_condensed";
    font-size: 16px;
    display: block;
    float: left;
 }
.write-review .formfield.overall label:first-child {
    font-size: 19px;
 }
.write-review .formfield.overall input {
    margin:0;
    padding:0;
    width:1px;
    height:1px;
    font-size:1px;
 }
.write-review .formfield.recommended label:first-child {
    width: 35%;
 }
.write-review .formfield.recommended span {
    font-family: "swiss_721bold_condensed";
    font-size: 16px;
    padding:11px 40px 10px 10px;
    display: inline-block;
 }
.write-review .formfield.title input {
    width:23%;
 }
.write-review .formfield.reviewtext textarea {
    width:80%;
 }
.write-review .formfield.nickname input {
    width:37%;
 }
.write-review .formfield.location input {
    width:37%;
 }
.write-review .formfield.age select {
    width:14%;
 }
.write-review .formfield.email input {
    width:37%;
 }
.write-review .formfield.terms span {
    font-family:"swiss_721_condensedregular";
}
.write-review .formfield label.error {
    color: red;
    display:block;
    font-size: 12px;
    padding:5px 0 0 10px;
    margin-left:16%;
 }
.write-review .formfield .caption {
    display:block;
    font-size: 12px;
    font-style: italic;
    color: #acaeaf;
    padding:2px 0 0 10px;
    margin-left:16%;
 }


.formbuttons{
    margin-top:15px;
    display: inline-block;
    width: 100%;
}
.formbuttons button{
    background:#ce1f2c;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "swiss_721bold_condensed";
    border:0;
    width:105px;
}
.formbuttons span{
    margin-left:63px;
    line-height: 40px;
}
.formbuttons span a{
    font-family: "swiss_721bold_condensed";
    font-size: 14px;
    color:#12b5ea;
    text-transform:uppercase;
}
.formbuttons span strong{
    padding:0 10px;
}


#sp-sidebar { width:238px; float:left; font-family:"swiss_721_condensedregular"; font-size:15px; position:relative; z-index:200; }

#sp-sidebar ul.by-category  { line-height:32px; text-transform:uppercase; }

#sp-sidebar ul.by-category  li a{ padding-left:15px;}

#sp-sidebar ul.by-category  li a.current { color:#7ea8d2; }

#sp-sidebar ul.by-category input[type='checkbox'] { margin:1px 5px 0 0; }

#sp-sidebar h3 { text-transform:uppercase; margin-bottom:10px; }

.sidebar-lft { border-bottom:1px solid #5c5c5c; padding:20px 10px 20px 20px;  }

#sp-content { width:722px; float:right; }

.sp-content-banner { margin:0 0 0 30px; height: 398px;}

.recentlyviewed { margin-top:50px; padding:25px 0 40px 0; background-color:#2d2d2d; }

.recentlyviewed-wrap { width:955px; margin:0 auto; }

.recentlyviewed-box { width:170px; height:315px; padding:25px 10px 0 10px; background-color:#fff; margin:0 1px 0 0; float:left; position:relative }

.recentlyviewed-box.last { margin-right:0;}

.rating{
	width:80px;
	height:16px;
	margin:0 10px 10px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/star-rating.png) no-repeat 0 0;
}
	/* add these classes to the ul to effect the change to the correct number of stars */
	.nostar {background-position:0 0}
	.onestar {background-position:0 -16px}
	.twostar {background-position:0 -32px}
	.threestar {background-position:0 -48px}
	.fourstar {background-position:0 -64px}
	.fivestar {background-position:0 -80px}
	ul.rating li {
		cursor: pointer;
	 /*ie5 mac doesn't like it if the list is floated\*/
		float:left;
		/* end hide*/
		text-indent:-999em;
	}
	ul.rating li a {
		position:absolute;
		left:0;
		top:0;
		width:16px;
		height:16px;
		text-decoration:none;
		z-index: 200;
	}
	ul.rating li.one a {
	left: 1px
}
	ul.rating li.two a {left:16px;}
	ul.rating li.three a {left:32px;}
	ul.rating li.four a {left:48px;}
	ul.rating li.five a {left:64px;}
	ul.rating li a:hover {
		z-index:2;
		width:80px;
		height:16px;
		overflow:hidden;
		left:0;	
		background: url(../images/star-matrix.gif) no-repeat 0 0

	}
	ul.rating li.one a:hover {background-position:0 -96px;}
	ul.rating li.two a:hover {background-position:0 -112px;}
	ul.rating li.three a:hover {background-position:0 -128px}
	ul.rating li.four a:hover {background-position:0 -144px}
	ul.rating li.five a:hover {background-position:0 -160px}

#create-account-wrap { padding:20px 20px 40px 20px; margin-bottom:20px; color:#fff; background:#282828; }	

#create-account-wrap input { padding:5px 10px; background-color: #3b3b3b; border:0; color:#fff; width:212px; }

#create-account-wrap label { text-transform:uppercase; display:block; margin-bottom:10px; font-family:"swiss_721bold_condensed"; }

#create-account-wrap select { padding:3px 10px; background-color: #3b3b3b; border:0; color:#fff; margin-right:10px; }

#create-account-wrap select option { padding:5px 10px; }

#create-account-wrap input[type='checkbox'] { margin-right:10px; width:10px !important; }

#create-account-wrap ul { list-style-type:disc; margin-left:20px; }

.share-box { text-transform:uppercase; font-size:14px; }

.share-box span { font-family: "swiss_721bold_condensed"; }

.share-box img { margin-left:10px; }

.share-this-box { width:300px; }

.emailthis { width:120px; text-transform:uppercase; font-size:14px; }

.emailthis img { margin-right:10px; }

.alsolike-wrap { margin:0; }

.redefine { padding:10px 12px; font-family:"swiss_721bold_condensed" !important; }

.redefine h4 { margin-bottom:0; }

.alsolike-wrap h4 { font-family: "swiss_721bold_condensed"; font-size: 16px;  background-color:#2d2d2d; display:block; padding:18px 0 24px 0; margin-bottom:0;  }

.alsolike-wrap-box { width:160px; margin:0 1px 1px 0; /*height:310px;*/ background-color:#fff; position:relative; padding-top:10px; float:left; }

.alsolike-wrap-box-details { bottom: 5px; left:10px; color: #232323; padding: 15px 10px 5px 10px;}

.alsolike-wrap-box-details p { margin-bottom:5px !important; }

.alsolike-wrap-box img { width:auto; height:180px; }

.alsolike-wrap-box.last { margin:0 0 1px 0; }

.rating-reviews-wrap { color:#fff; margin:40px 0 0 0; }

.rating-reviews-header { padding:20px; background-color:#000; }

.sort-review-wrap { padding:0 20px 0 0; }

.sort-review-wrap h4 { margin-bottom:0; }

.sort-review-wrap ul li { border-right:1px solid #3a3a3a; display:inline-block; padding:10px 20px; }

.sort-review-wrap ul li a { display:block; }

.reviewer-wrap { margin-bottom:10px; background:#2d2d2d url(../images/review-bg.jpg) top left repeat-y; padding:20px; }

.reviewer-wrap div h4 { margin:0;}

.reviewer-wrap div .rate { margin-bottom:10px;}

.reviewer-wrap div .title { font-size:16px; margin-bottom:10px;}

.reviewer-wrap div .desc { font-size:16px}

.reviewer-wrap div .reco { margin:10px 0; color:#acaeaf;}

.reviewer-wrap div blockquote p { color:#acaeaf;}

#review-confirm .reviewer-wrap { background:none;}

#review-confirm .reviewer-wrap .rate { margin-bottom:10px}

#review-confirm .reviewer-wrap p{ margin-bottom:10px}

#review-confirm .reviewer-wrap p strong { font-size:16px}

.sidebar-menu { padding:20px 10px 20px 20px;}

.sidebar-menu ul { line-height:32px; text-transform:uppercase;font-family:"swiss_721_condensedregular"; font-size:15px;}

.sidebar-menu ul li a, .list ul li a{ display:block; padding:8px 0 8px 15px; background: transparent url(../images/arrowRight.png) no-repeat scroll 0 10px; line-height:normal}

.sidebar-menu ul li a.current { color:#7ea8d2;}

.sidebar-menu input[type='checkbox'] { margin:1px 5px 0 0; }

/*.list ul li a { content:'▶'; padding-right:5px; margin-left:-20px; background: transparent url(../images/arrowRight.png) no-repeat scroll left 10px}*/

.blog-landing-col { margin:0; padding:0; display: inline-block;}

.blog-landing-col .blogs {width:360px; float:left;}

.blog-landing-col .blogs .title {margin:20px 10px 0; line-height: normal;}

.blog-landing-col-img-box { position:relative; }

	.article-icon, .tip-icon { position:absolute; top:10px; right:10px; z-index:200; }

.blog-landing-col-title { margin:20px; /*min-height: 100px;*/}

.blog-landing-col-title a { color:#fff; }

.blog-landing-col-title h4 { font-family:"swiss_721_condensedregular" !important; margin-bottom:10px; }

.blog-content { background:#fff; padding-bottom:40px;color:#2d2d2d; }

.blog-content li { /*line-height:24px; padding-bottom:10px; */}

.main-content { line-height:24px; font-size:16px; }

.main-content p { margin-bottom:15px; }

.main-content h1, h2, h3, h4, h5 { line-height:34px; margin-bottom:15px;}

.store-map { height:836px; }

.store-address-wrap { height:836px; overflow:auto; }

.store-address { padding:20px; overflow-y:hidden; }

.store-address h4 { font-family:"swiss_721_condensedregular"; font-size:14px; margin-bottom:5px; }

.store-address input { padding:10px; color:#fff; background-color:#404040; border:0; width:90%; }

.store-address .btn { display:block; text-align:center; padding:5px 0 1px 0; }

		.num {
			counter-reset: my-badass-counter;
			color:#fff;
		}
		.num dt {
			position: relative;
			padding: 2px 0 10px 0;
			font-size:16px;
			font-weight:bold;
			font-family:"swiss_721_condensedregular";
		}
		.num dt:before {
			content: counter(my-badass-counter);
			counter-increment: my-badass-counter;
			position: absolute;
			left: 0;
			top: 0;
			font-family: "swiss_721bold_condensed";
			font-size:20px;
			display:block;
			background-color:#0077a6;
			padding:10px;
			color:#fff;
		}
		.num dd {
			padding: 0 0 30px 0;
			margin-bottom:20px;
			border-bottom:1px solid #CCC;
		}	
		.num dt, .num dd {
			padding-left: 50px;
		}
		
.search-result-wrap { padding-left:20px !important; padding-right:20px !important; display:block; }	

.search-result-wrap h4 { margin-bottom:0; }

.result-img { float:left; margin-right:15px;
}

.nav .nav-bbar { background-color:#232323; padding:10px !important; margin-top:10px; }

.nav .nav-bbar h4 { margin-bottom:0; }

.result-info { float:left;}

#tabs_container span { display:block; }

.search-result-wrap .btn { padding:3px 15px; background-color:#3a3a3a; margin-bottom:10px; }

.flags-wrap { margin-top:20px; display:block; width:200px;}

.flags-wrap img { margin-right:10px; }


/* Footer */
#footer { font-size:14px; }

#footer li, #footer p { line-height:32px; }

#footer h3 { margin-bottom:25px; font-family: swiss_721_condensedregular;}

.footer { padding:15px 20px; text-align:left; }

#footer .footer-bottom { padding:20px 0; text-align:left; font-size:11px; }

#footer .footer-bottom p { line-height:20px }

.footer b { margin:0 5px; }

.footer-bottom a { margin:0 20px 0 0; }

.foot{
    margin-bottom:50px;
}
.foot .table{
    display:table;
    width:100%;
    outline:1px solid white;
}
.foot .row{
    display:table-row;
    width:auto;
    clear:both;
}
.foot .col{
    display:table-column;
    outline:1px solid red;
    float:left;
    width:18%;
    margin-right:2%;
}


/* CONTENTS */

/*.container { width:960px; position:relative; }*/
.container { width:960px; position:relative; }

.col100 { width:100%; }

.col_12 { width:480px; }

.col_39 { width:239px; }

.col_14 { width:240px; }

.col_18 { width:180px; }

.col_20 { width:200px; }

.col_21 { width:210px; }

.col_23 { width:238px; }

.col_32 { width:320px; }

.col_321 { width:321px; }

.col_36 { width:360px; }

.col_40 { width:400px; }

.col_42 { width:420px; }

.col_54 { width:540px; }

.col_60 { width:600px;}

.col_61 { width:607px;}

.col_63 { width:639px; }

.col_64 { width:640px; }

.col_72 { width:720px; }

.col_721 { width:721px; }

.col_722 { width:722px; }

.col_73 { width:730px; }

.col_76 { width:763px; }

.col_910 { width:910px; }

.logo { position:absolute; top:0; left:0; }

.logowrap-inner { width:160px; margin:-10px 0 -25px 0;}

.logowrap-inner img { margin:0 auto !important; }

.header-search input.searchbox {
     border:0;
     background-color:#3b3b3b;
     height:24px;
     padding:5px;
     color:#fff;
    float:left;
	width:210px;
 }

.header-search input.searchicon{
    border:0;
    padding:0;
    margin:5px 0 0 -30px;
    width:24px;
    height:24px;
    background:transparent url(../images/search-icon.jpg) center center  no-repeat;
    float:left;
	cursor:pointer;
}

.cart-btn { background:#3a3a3a; width:60px; float:right; padding:6px 0; display:block; }

.colorbox { margin:0 30px; height:220px; position:relative; margin-top: 60px;}

.colorbox p{ margin-bottom:15px; font-size:14px; }

.colorbox h3 { margin-bottom:0; }

.color-sep { width:124px; height:2px; margin:15px 0; float:left; }

.colorbox .btn { position:absolute; left:0; bottom:4px;}

.btn { padding:10px 15px; color:#fff; text-transform:uppercase; display:inline-block; font-size:15px; font-family:"swiss_721bold_condensed"; border: none;}

.btn a { color:#fff; }

.btn a:hover { color:#ce1f2c; }

.connect { font-size:15px; padding:10px 0; }

.connect img { margin-left:10px; }

.recommended { font-size:15px; font-weight:bold; text-transform:uppercase; /*margin-left:20px; */}

.ingredients-list-box { width:200px; height:110px; margin:0 1px 1px 0; padding:20px 20px 0 20px; background-color:#373737; }

.ingredients-list-box.last { margin-right:0; }

.ingredients-list-box h3 { margin-top:5px; color:#eee; }

.ingredients-list-box h3:after{ content:'▶'; padding-left:5px; vertical-align:middle; font-size:16px}

.bdr-wd { width:60px; background-color:#fff; height:2px; margin-left:0;}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.f-store input { padding:10px; border:0; background-color:#5c5c5c; margin-right:25px; }

.f-store h4 { margin-bottom:0; }

.f-store .btn { padding:2px 20px; }

/* TABLE */

.table {
	margin:0px;padding:0px;
	width:628px;
	border-bottom:1px solid #6a6b6f;
}

.table h4 { margin-bottom:0 }

.table .btn { padding:5px 25px; }

.table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0;padding:0px;
}
.table td{
	vertical-align:middle;
	
	
	border-bottom:1px solid #6a6b6f;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
}.table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table tr:first-child td{
		
	border:0px solid #6a6b6f;
	border-width:0px 0px 1px 0;
	font-size:16px;
	color:#fff;
	font-family: "swiss_721bold_condensed";
	text-transform:uppercase;
}

.table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child{
	border-width:0px 0px 1px 0;
}

/* MISC */

.block { display:block; }

.inblock { display:inline-block; }

.bdr-bottom { border-bottom:1px solid #5c5c5c; padding-right:40px; } 

ul.list-style li{ list-style:disc; margin-left:25px; padding-left:5px; line-height:24px;  }

.bordertop { border-top:1px solid #3a3a3a; }

.border-gry { border-color:#e0e0e0; }

.border-ylw { border-color:#ffdd00; }

.border-bl { border-color:#12b5ea; }

.border-gd { border-color:#c2ac73; }

.border-gr { border-color:#54b847; }

.color-bl { background-color:#11b5ea; }

.color-gr { background-color:#a0cf67; }

.color-rd { background-color:#e32b29; }

.color-y { background-color:#dca900; }

.color-lvdr { background-color:#732281; }

.color-or { background-color:#ff4c01; }

.color-gd { background-color:#c2ac73; }

.color-blck { background-color:#000; }

.color-gry { background-color:#5c666f; }

.color-lgry { background-color:#acadaf; }

.color-dgray { background-color:#2d2d2d; }

.color-pnk { background-color:#fb7eb6; }

.pd20 { padding:20px; }

.pdTB20 { padding:20px 0 }

.pdLR20 { padding:0 20px }

.main-content p.mz { margin:0; }

.mbot1 { margin-bottom:1px; }

.mbot15 { margin:0 0 15px; }

.mtop3 { margin-top:-5px; }

.mtop5 { margin-top:5px; }

.mtop7 { margin-top:7px; }

.mtop10 { margin-top:10px; }

.mlr { margin:0 4px; font-family: monospace;}

.mtop15 { margin-top:15px; }

.mtop20 { margin-top:20px; }

.mtop30 { margin-top:30px; }

.mbot30 { margin-bottom:30px; }

.mtb40 { margin:40px 0; }

.mtop40 { margin-top:40px; }

.prt25 { padding-right:25px; }

/*.mtop102 { margin-top:102px; }*/

.mtop70 { margin-top:70px; }

.mlft12 { margin-left:12px; }

.mlft20 { margin-left:20px; }

.centerImage { margin:0 auto; display:block; text-align:center; }

.txt20 { font-size:20px; }

.txt12 { font-size:12px; }

.txt-rd { color:#c31d2a; }

.txt-w { color:#fff; }

.txt-y { color:#fedc00; }

.txt-gry { color:#e0e0e0; }

.txt-bl { color:#12b5ea; }

.txt-gd { color:#c2ac73; }

.txt-gr { color:#54b847; }

.txt-rt { text-align:right; }

.txt-lt { text-align:left; }

.txt-c { text-align:center; }

.txt-up { text-transform:uppercase; }

.fltrt { 
	float: right;
}

.fltlft { 
	float: left;
}

.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/********additional style *******/
table#MainContent_cbIng {
margin-left: 2px;
}

ul.refineAge {
margin-left: -137px;
}

ul.refineGender{
margin-left: -132px;
}

.psize{
margin-top: -40px;
position: absolute;
margin-left: 35px;
background-color: transparent;
color: #fff;
border: none;
}

label.txt-up {
display: none;
}

.txtsize{
text-transform: uppercase;
}

table#MainContent_cbBlogFormat {
margin-left: 0;
}
table#MainContent_cbBlogTheme{
margin:0;
}
.viewingSearch{
margin-top: -30px;
height: 15px!important;
margin-left: 80px;
}

.sRemoveicon{
margin-top: -26px;
margin-left: 280px;
position: absolute;
cursor: pointer;
}

.display-none{
display:none;
}

.pull-right{
float:right;
}

.pull-left{
float:left;
}

.pterms.fltlft {
padding-left: 52px;
}

.list{
/*padding-left: 18px;*/
}

.list a {
color: #fff;
}
h3.mlft12 {
    margin-top:20px;
    margin-bottom:5px;
}
/* Multivitamins */
#sp-content .header_1 {
    color:#e0e0e0;
}
#sp-content .products-container.line_1 {
    border-top:5px solid #e0e0e0;
}

/* Immunity */
#sp-content .header_2 {
    color:#ffdd00;
}
#sp-content .products-container.line_2 {
    border-top:5px solid #ffdd00;
}

/* Brain & Vision */
#sp-content .header_4 {
    color:#926fb1;
}
#sp-content .products-container.line_4 {
    border-top:5px solid #926fb1;
}

/* Beauty & Skin */
#sp-content .header_5 {
    color:#acaeaf;
}
#sp-content .products-container.line_5 {
    border-top:5px solid #acaeaf;
}

/* Energy */
#sp-content .header_6 {
    color:#c2ac73;
}
#sp-content .products-container.line_6 {
    border-top:5px solid #c2ac73;
}

/* Joints, Muscles & Bones */
#sp-content .header_7 {
    color:#11b5ea;
}
#sp-content .products-container.line_7 {
    border-top:5px solid #11b5ea;
}

/* Omegas */
#sp-content .header_9 {
    color:#ff8f12;
}
#sp-content .products-container.line_9 {
    border-top:5px solid #ff8f12;
}

/* Cardiovascular */
#sp-content .header_10 {
    color:#e82c2a;
}
#sp-content .products-container.line_10 {
    border-top:5px solid #e82c2a;
}

/* Women's Health */
#sp-content .header_11 {
    color:#fb7fb5;
}
#sp-content .products-container.line_11 {
    border-top:5px solid #fb7fb5;
}

/* Men's Health */
#sp-content .header_12 {
    color:#0069aa;
}
#sp-content .products-container.line_12 {
    border-top:5px solid #0069aa;
}

.cat_1.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -32px;
    color:#e0e0e0;
}
.cat_2.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -64px;
    color:#ffdd00;
}
.cat_4.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -96px;
    color:#926fb1;
}
.cat_5.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -128px;
    color:#acaeaf;
}
.cat_6.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -160px;
    color:#c2ac73;
}
.cat_7.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -192px;
    color:#11b5ea;
}
.cat_8.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -224px;
    color:#a0cf67;
}
.cat_9.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -256px;
    color:#ff8f12;
}
.cat_10.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -384px;
    color:#e82c2a;
}
.cat_11.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -320px;
    color:#fb7fb5;
}
.cat_12.active a{
    background:transparent url(../images/arrows.png) no-repeat scroll 0 -352px;
    color:#0069aa;
}

.color-blck.mtop102 {
margin-top: 20px;
}

.homethumb{
    /*margin-top: -10px;*/
}

.buynow{
    background-color: #ff0013;
    color :  #fff;
    display : inline-block;
    padding : 15px 20px;
    font-weight : bold;
}
.buynow:hover{
    background-color: #f53240;    
    color :  #fff;
}

#tabs_container #retailers .noStock p{
    font-size : 2em;
    color :  #fff;
    margin: 15px 0;
}
.online-icon{
    margin-left:6px;
    width: 12px;
}

#register-content .mtb40{
    text-align:center;
}
#register-content .mtb40 img{
    margin:0 45px;
}
#bottomLinks .col_14{
    margin: 0 40px;
}

/* Temporary hide price */
.product-price, .product-detail-wrapper-details h2{
    display:none;
}
#MainContent_lblDescription p{
    margin-bottom:20px;
}

.registerTopContent {
    color: #fff;
}
.registerTopContent p {
    margin-top:20px;
}

.registerTopContent div {
    margin:0 auto;
    text-align:center;
}

.registerTopContent div img {
    padding-left:30px;
    padding-right:30px;
}

.col_60 .registerTopContent ~ h4, .col_60 .registerTopContent ~ p {
    color:#fff;
}

.registerTopContent span {
    font-style:italic;
    font-size:12px;
}

.termsContent {
    color:#fff;
}

.termsContent h2:nth-of-type(2) {
    margin-top:15px;
}

.termsContent ul {
    list-style-type:disc;
}

.termsContent ul li {
    margin-left:15px;
}


/* Error Page */
#errorPage{
    background:#1c1c1c;
}
#errorPage .container{
    background:transparent url(../images/bgError.png) no-repeat scroll center 0;
    height:355px;
    text-align:center;
    color:#FFFFFF;
}
#errorPage .container h1{
    padding-top:65px;
    font-size:28px;
    font-family:"swiss_721_condensedregular";
    font-weight: normal;
}
#errorPage .container h2{
    font-size:136px;
    line-height:normal;
}
#errorPage .container p{
    font-size:20px;
    font-family:"swiss_721bold_condensed";
    text-transform:uppercase;
}
#errorContent{
    background:#2c2c2c;
}
#errorContent .container{
    height:115px;
    text-align:center;
}

#errorContent .container p{
    color:#FFFFFF;
    font-size:18px;
    font-family:"swiss_721bold_condensed";
    padding-top:50px;
}
#errorContent .container p a{
    color:#df3844;
    text-decoration:underline;
}


.viewing-filter h4 { margin:0 0 0 20px; line-height:40px;}

.viewing-filter h4 span { text-transform:capitalize;font-family: swiss_721_condensedregular;font-weight: normal; margin: 0 5px; padding: 4px 8px; background: #191b18; font-size: 14px; color:#FFFFFF;}

.viewing-filter h4 span .closeTheme { width:9px; height:9px; background:transparent url(/images/btnX.png) no-repeat scroll 0 0;  margin-left:8px; display: inline-block;}

.viewing-filter h4 .clearAll { background:none; margin:0}

.viewing-filter h4 .clearAll a { color:#FFFFFF; margin-left:0px;}


/* Offers and Promos */
#contentOAP{
}
#contentOAP h3{
    font-family:"swiss_721bold_condensed";
    text-transform: capitalize;
    color:#b41825;
    font-size:24px;
}
#contentOAP p{
    font-family:"swiss_721bold_condensed";
    font-size:18px;
    margin-bottom:30px;
}
#contentOAP .line{
    width:100%;
    height:1px;
    font-size:1px;
    line-height:1px;
    background-color:#CCCCCC;
}
#contentOAP .bgRed{
    background-color:#b41825;
    padding:15px 0;
    text-align:center;
    color:#FFFFFF;
}
#contentOAP .bgRed h1{
    margin:0;
    text-decoration:underline;
}
#contentOAP ul{
    margin-bottom:30px;
}
#contentOAP ul li,
#contentOAP ol li{
    font-family: 'swiss_721_condensedregular';
}
#contentOAP ul li::before,
#contentOAP ol li::before{
    padding-right:10px;
    content:" ";
}
#contentOAP ul.check{
}
#contentOAP ul.check li{
    background:transparent url(/images/iconCheckGreen.png) no-repeat scroll left 20px;
    padding: 15px 0 15px 30px;
    border-bottom: 1px solid #CCCCCC;
}
#contentOAP ol.number{
    list-style-position: inside;
}
#contentOAP ul.letter{
}

#contentOAP #prize p{
}

#contentOAP #draw p{
}

#contentOAP #tc{
    font-size:14px;
}
#contentOAP #tc b{
    display:block;
    margin-top:30px;
}
#contentOAP ol li{
    margin-bottom:30px;
}
#contentOAP ol li ol li::marker{
  content: "(" counter(counter) ")";
}
#contentOAP ol li ol li{
    list-style-type:lower-alpha;
    list-style-position: inside;
    margin-left:30px;
    margin-bottom:0px;
    display: list-item;
    counter-increment: counter;
}


/* Tab */
.tabContainer{
    margin-bottom:40px;
}
.tabContainer .tabs li{
    background:#000000;
}
.tabContainer .tabs li.active{
    background:#2d2d2d;
}
.tabContainer .tabs li.active h3 a{
    cursor:default;
}
.tabContainer .tabs li h3{
    margin:0;
}
.tabContainer .tabs li h3 a{
    padding:12px 20px;
    font-size: 22px;
    color:#FFFFFF;
    display:block;
}

.tabContainer .tabsContent{
    background:#2d2d2d;
    padding:10px 20px 20px;
}

.tabContainer .tabsContent li {
    color:#FFFFFF;
}
.tabContainer .tabsContent li .contents {
    margin-bottom:20px;
    display: inline-block;
}
.tabContainer .tabsContent li h4{
    text-transform:capitalize;
    margin:0;
}
.tabContainer .tabsContent li h4 a{
    color:#FFFFFF;
}
.tabContainer .tabsContent li .contentImg{
    margin:0 20px 0 0;
}
.tabContainer .tabsContent li p.btn{
    background:#323232;
    padding: 4px 8px;
    font-family:inherit;
}


/* Search Result */
#searchResult div h2{
    font-size:29px;
    color:#FFFFFF;
}
.tabContainer .product-price{
    width:100%;
    float:none;
    display:block;
}
.tabContainer #sorting{
    margin-bottom:10px;
}
.tabContainer #sorting .sortby #view{
    border:none;
    margin-top:10px;
    height:20px;
}
.tabContainer #sorting .sortby h4{
    margin-left:40px;
}
.tabContainer #sorting .sortby #ddl{
    border-right:none;
}
.tabContainer #sorting .sortby select{
    background:#2d2d2d;
}

.tabContainer .products-container .products-box.list{
    width:auto;
    float:none;
    display: inline-block;
}
.tabContainer .products-container .products-box.list > a{
    width:230px;
    float:left;
}
.tabContainer .products-container .products-box.list .product-details-wrap{
    width:450px;
    float:left;
    padding:0;
}
.tabContainer .products-container .products-box.list .product-details-wrap .product-name{
    height:auto;
    font-size:20px;
    margin-top: 10px;
}
.tabContainer .products-container .products-box.list .product-details-wrap .product-name a{
      width: 100%;
      color:#232323;
}
.tabContainer .products-container .products-box.list .product-details-wrap .productDetail{
      margin-bottom:20px;
}



