﻿body {
    background:#FFFFFF;
    margin:0;
}
.container {
    width:660px;
    margin:0 auto;
    padding:20px;
}
.container .header{
    position:relative;
}
.container .header #sns{
    position:absolute;
    top:10px;
    right:15px;
    width:84px;
    height:20px;
}
.container .header #sns a{
    width:20px;
    height:20px;
    margin:0 4px;
    display:block;
    float:left;
}
.container a img {
    margin-bottom:6px;
    display:block;
}