@font-face {
    font-family: 'swiss_721bold_condensed';
    src: url('../Fonts/swiss_721_bold_condensed-webfont.eot');
    src: url('../Fonts/swiss_721_bold_condensed-webfont.eot?#iefix') format('embedded-opentype'),
url('../Fonts/swiss_721_bold_condensed-webfont.woff2') format('woff2'),
url('../Fonts/swiss_721_bold_condensed-webfont.woff') format('woff'),
url('../Fonts/swiss_721_bold_condensed-webfont.ttf') format('truetype'),
url('../Fonts/swiss_721_bold_condensed-webfont.svg#swiss_721bold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'swiss_721_condensedregular';
    src: url('../Fonts/swiss721bt-romancondensed-webfont.eot');
    src: url('../Fonts/swiss721bt-romancondensed-webfont.eot?#iefix') format('embedded-opentype'),
url('../Fonts/swiss721bt-romancondensed-webfont.woff2') format('woff2'),
url('../Fonts/swiss721bt-romancondensed-webfont.woff') format('woff'),
url('../Fonts/swiss721bt-romancondensed-webfont.ttf') format('truetype'),
url('../Fonts/swiss721bt-romancondensed-webfont.svg#swiss_721_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

