body { background-color:#232323; color:#acaeaf; font:14px/1.8em Arial, Helvetica, sans-serif }

/* ELEMENTS */

a { color:#8d9197; text-decoration:none; }

a:hover { color:#ce1f2c; }

input [type=checkbox] { vertical-align:middle; }

h1, h2, h3, h4, h5 { font-family:"swiss_721bold_condensed"; text-transform:uppercase; line-height:30px; margin:0 0 15px 0 }

h1 { font-size:36px; }

h2 { font-size:26px; }

h3 { font-size:20px; }

h4 { font-size:16px; }

img { border:0; vertical-align:middle;  max-width: 100%; height: auto; }

ul { list-style:none; margin:0; padding:0; }

p { font-size:18px; }

/* LAYOUT */

.wrapper { margin:0 3.125%; width:640px; max-width:93.75%; }

header { background-color:#000; padding-bottom:20px; }

.header-contents { float:left; display:inline-block; width:48%; padding-top:10px; }

.header-contents img { margin-right:4%; float:left; max-width: 100%; height: auto; }

	.logo { display:inline-block; float:left; margin-right:5%;  } 
	
.banner { height:370px; background:url(../images/banner-bg.png); background-size: 100% 100%; background-repeat: no-repeat; position:relative; }

.navigation { font-size:18px; font-family:"swiss_721bold_condensed"; text-transform:uppercase; margin-top:10px; }	

.navigation ul li { display:block; padding:15px 0;}

.navigation ul li a { color:#999b9a; padding:0 10px; display:block; }

.navigation ul li a:hover, .navigation ul li a.current { color:#ce1f2c; }

.navigation ul li:nth-of-type(even) {
    background: #3a3a3a;
}

.list { display:block; padding:0 15px; text-transform:uppercase;font-family:"swiss_721bold_condensed"; font-size:18px; }

.contents { padding:20px; }

.learnmore { display:inline-block; padding:10px 15px 10px 0; text-transform:uppercase;font-family: 'swiss_721_condensedregular'; font-size:16px; }

.learnmore span { margin-left:10px; }

.signup-box { padding:20px 20px 10px 20px; color:#acadaf; }

.box-gry-2 { background-color:#1a1a1a; padding-top:3px; padding-bottom:3px;}

.col_12 { width:50%; }

.col_3 { width:33.33333333333333%; }

footer { padding:15px 0 0 0; }

footer li { display:block; padding:5px 0; }

footer a { color:#8c9197; font-size:18px; }

.copyr { text-align:center; font-family: 'swiss_721_condensedregular'; }
	


/* MISC */

.right-caret { text-align:right;border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid #fff;
    display: block;
    height: 0;
    width: 0; margin-top:3px;}
	
.btn { padding:10px 25px; color:#fff; text-transform:uppercase; display:inline-block; font-size:15px; font-family:"swiss_721bold_condensed"; }

.btn a { color:#fff; }

.btn a:hover { color:#ce1f2c; }

.txt-2 {font-family: 'swiss_721_condensedregular';}

.txt-c { text-align:center; }

.txt-r { text-align:right; }

.txt-up { text-transform:uppercase; }

.color-gry-1 { background-color:#3a3a3a; }

.color-gry-2 { background-color:#2d2d2d; }

.color-blk { background:#000; }	

.color-gry { background-color:#5c666f; }

.mtop5 { margin-top:5px }

.mtop10 { margin-top:10px }

.mtop15 { margin-top:15px }

.fltrt { 
	float: right;
}

.fltlft { 
	float: left;
}

.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

@media only screen and (max-width: 638px) {
	.col_12, .col_3 { width: 100%; }
}