/* Reset */
.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.nav a { text-decoration: none; }

.nav ul { margin-bottom:10px; }

.nav li { list-style: none; }

/* Menu Container */
.nav {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500;
}

/* Menu List */
.nav > li {
	display: block;
	float: left;
}

/* Menu Links */
.nav > li > a {
	position: relative;
	display: block;
	z-index: 510;
	padding: 10px 0 5px 0;
	margin-right:69px; 	
	
	font-size:16px; 
	font-family:"swiss_721bold_condensed"; 
	text-transform:uppercase;
	color:#999b9a;
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav > li:hover > a { color:#ce1f2c; }

.nav > li:first-child > a {
	border-radius: 3px 0 0 3px;
	border-left: none;
}

.nav > li > a.current { color:#ce1f2c; }

/* Menu Dropdown */
.nav > li > div {
	position: absolute;
	display: block;
	min-width: 200px;
	top: 34px;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	background: #2d2d2d;
	border-radius: 0 0 3px 3px;

	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

.nav > li > a.last { margin-right:0 !important; float:right !important; text-align:left;}

.nav > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */
.nav .nav-column {
	float: left;
	padding:10px 0 0 10px;
	margin-bottom:15px;
}

.nav .nav-column h3 {
	margin:0 0 10px 0;
	line-height: 18px;	

	font-size:15px; 
	font-family:"swiss_721bold_condensed";
	color: #fff;
	text-transform: uppercase;
}

.nav .nav-column h3.orange { color: #ff722b; }

.nav .nav-column li a {
	display: block;
	line-height: 26px;
	
	font-family:"swiss_721_condensedregular";
	font-size: 12px;
	
	text-transform: uppercase;
}

.nav .nav-column li a:hover { color:#ce1f2c; }



