﻿body {
    margin: 8px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #333;
}

#wrapper {
      background-color: #eee;
      border: 1px solid #ccc;
      margin: 10px;
      padding: 20px;
}