.hiddenfield {
visibility:hidden;width:0;height:0 !important;
}

/* READ */


/* ----------------------------
Support for star ratings
---------------------------- */

.rating {
    display: inline-block;
    background: transparent url(../images/stars.png) repeat-x scroll 0px 0px;
    height:14px;
    width:90px;
    margin: 0 5px 5px 0;
	text-align:left;
}

.rating .ratingHighlight {
    display: inline-block;
    background: transparent url(../images/stars.png) repeat-x scroll 0px -14px;
    height:14px;
}
.rating span {
    display: none;
}

#productIDwrite .rating,
#productIDtop .rating,
#productID .rating {
    display: inline-block;
    background: transparent url(../images/stars2.png) repeat-x scroll 0px 0px;
    height:20px;
    width:140px;
    margin: 0 5px 5px 0;
	text-align:left;
}

#productIDwrite .rating .ratingHighlight,
#productIDtop .rating .ratingHighlight,
#productID .rating .ratingHighlight {
    display: inline-block;
    background: transparent url(../images/stars2.png) repeat-x scroll 0px -20px;
    height:20px;
}
.rating span {
    display: none;
}

.rating_text{
    font-size:12px;
    color:#232323;
    position: relative;
    top: -1px;
}
#productIDtop .rating_text,
#productID .rating_text{
    color:#e0e0e0;
    top: -4px;
}

/* Pagination */

.simplePagerContainer {
text-align:left;
}


ul.pagination .simplePagerNav li:hover {
	background-color: #FF9500;
}


ul.pagination .simplePagerNav li {
    padding: 10px;
	background-color: #8890FC;
    color: #fff;
    line-height: 1;
    width: 600px;
    margin-bottom: 1px;
	list-style:none;
}

ul.red {
	outline:10px solid red;
}

ul.simplePagerNav li{
    display:block;
    float: left;
}

ul.simplePagerNav li a{
    color: #333;
    padding:4px 8px;
    text-decoration: none;
    display:block;
}

li.currentPage {
    background: #e74b91;
}

ul.simplePagerNav li.currentPage a {
	color: #fff;	
}

table.pageme {
    border-collapse: collapse;
    border: 1px solid #ccc;
}  

table.pageme td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}


/* WRITE */
.write-review .br-widget {
    height:14px;
    display:inline-block;
    margin-top:8px;
}

.write-review .br-widget a {
    background: url('../images/stars.png');
    width:14px;
    height:14px;
    display: block;
    float: left;
    margin-right: 5px;
}
.star-off {
	background-position: 0 0 !important;
}

.star-on {
	background-position: 0 14px !important;
}

.write-review .overall .rating_selector .br-widget a {
    background: url('../images/stars2.png');
    width:28px;
    height:20px;
}
.overall .rating_selector .br-widget .star-off {
	background-position: 0 0 !important;
}

.overall .rating_selector .br-widget .star-on {
	background-position: 0 20px !important;
}


.submit-success-msg {
	display:none;
}

.star-off {
	background-position:0 0px!important;
}

.star-on {
	background-position:0 14px !important;
}
#write .star-on {
	background-position:0 20px !important;
}

/* Pop up */
#popup {
    position:fixed;
    width:100%;
    height:100%;
    background:#000000;
    opacity:0.8;
    display:none;
    top: 0;
    z-index: 999;
}
#submitForm{
    background:#2f2f2f;
    position:absolute;
    width:920px;
    padding:20px;
    top:60px;
    left:50%;
    margin-left:-480px;
    z-index: 9999;
    display:none;
}
#btnClose{
    position:absolute;
    top:20px;
    right:20px;
}

