﻿html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

body {
    
}
#storelocator{
    margin-bottom:40px;
}
#storelocator #stores, #storelocator #map{
    height:800px;
}
#storelocator #stores .scroll{
    height:760px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin:20px 0;
}
#storelocator #stores #searchStore{
    border-bottom:1px solid #5c5c5c;
    padding:0px 20px;
}
#storelocator #stores #searchStore h4{
    font-size:14px;
    line-height: normal;
}
#storelocator #stores #searchStore .formfields .formfield{
    margin-bottom:20px;
}
#storelocator #stores #searchStore .formfields .searchTxt input{
    width:170px;
    float:none;
}
#storelocator #stores #searchStore .formfields .searchBtn input{
    width:180px;
}
#storelocator #stores #searchStore .formfields p{
    margin-bottom:20px;
}
#storelocator #stores .store{
    display:inline-block;
    padding:10px 20px;
    border-bottom:1px solid #5c5c5c;
    color:#FFFFFF;    
}
#storelocator #stores .store span{
    background:#0076a8;
    color:#FFFFFF;
    font-size:20px;
    font-family:"swiss_721bold_condensed";
    width:30px;
    height:30px;
    padding:0 3px;
    float:left;
    text-align:center;
    line-height:30px;
}
#storelocator #stores .store div{
    padding-left:10px;
    float:left;
    width: 134px;
}
#storelocator #stores .store div .storeName{
    margin-bottom:10px;
}
#storelocator #stores .store div .storeName a{
    font-size:16px;
    font-family:"swiss_721bold_condensed";
    color:#FFFFFF;
}
#storelocator #stores .store div .distance{
    font-family:"swiss_721bold_condensed";
    margin-top:10px;
}

.branchInfo{
    position:relative;
    font-size:14px;
    display:inline-block;
    color:#FFFFFF;
}
.branchInfo .arrow{
    position:absolute;
    bottom:-42px;
    left:50%;
    margin-left:-18px;
}
.branchInfo .storeName{
    font-size:16px;
    font-family:"swiss_721bold_condensed";
    margin-bottom:20px;  
}
.branchInfo span{
    width:90px;
    height:90px;
    background:#FFFFFF;
    text-align:center;
    float:left;  
}
.branchInfo span img{
    margin-top: 35px;
}
.branchInfo div{
    width:218px;
    padding-left:10px;
    float:left;
}
.branchInfo div a{
    color:#FFFFFF;
}










