﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TermsAndConditions.aspx.cs" Inherits="TermsAndConditions" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="<%=this.CDNdomain %>css/popup.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div id="wrapper">
        <h2>
            USER GENERATED CONTENT AGREEMENT<br />
            GENERAL REQUIREMENTS
        </h2>
        <p>This agreement ("Agreement") governs your conduct and the parties respective rights with respect to any submissions you make associated with Consumer Ratings and Review Services, Ask & Answer, Stories and/or other social media services (collectively, the "Services") offered and used by The Procter & Gamble Company and its subsidiaries, affiliates, assigns, successors, brands, licensors, licensees, and/or agents (collectively, "P&G ") in their promotion of various consumer products owned and/or marketed by P&G . These Services may be offered on various P&G brand websites and/or web pages and also on third party e-commerce or informational sites and/or web pages, to assist you and other consumers in your review and selection of P&G products.</p>
        <p>
            By submitting any text, photograph, video, music, audio/sound recording, artwork or other material or information (each a "Communication") to the Services on a P&G website or web page or on a third party e-commerce or informational website or web page, you represent and warrant the following:
        </p>
        <ul>
            <li>all content that you submit is accurate;</li>
            <li>you are at least eighteen (18) years of age;</li>
            <li>you are not an employee of P&G nor do you work for an affiliate or agency of P&G hired by P&G to promote and/or sell P&G products (unless you clearly disclose such information in your posting to the Services); and</li>
            <li>use of the Communication you submit as permitted herein does not violate the terms of this Agreement and will not cause injury to any person or entity.</li>
        </ul>
        <h3>SUBMISSION GUIDELINES</h3>
        <p>You further agree that you shall not submit any Communication that includes or references any one or more of the following:</p>
        <ul>
            <li>information known by you to be false, inaccurate or misleading;</li>
            <li>offensive, profane, vulgar, obscene or inappropriate language or visuals;</li>
            <li>defamatory, libelous, or slanderous content;</li>
            <li>content which infringes any third partys copyright, patent, trademark, trade secret, right of publicity, right of privacy, moral rights, and/or any other applicable personal or proprietary rights;</li>
            <li>content which violates any law, statute, ordinance or regulation (including, but not limited to, those governing export control, consumer protection, unfair competition, anti-discrimination, and false advertising);</li>
            <li>content that engages in, encourages, advocates, discusses with the intent to commit, or provides instructions for conduct that would constitute a criminal or civil offense or would otherwise violate any federal, state, local or international law or rule;</li>
            <li>material or content that is, or may reasonably be considered to be, hate speech, whether directed at an individual or group, and whether based upon the race, sex, creed, national origin, religious affiliation, marital status, sexual orientation, gender identity, or language of such individual or group or that is otherwise unlawfully threatening or unlawfully harassing to any individual, partnership, corporation, or political body;</li>
            <li>content depicting a health condition in a derogatory or inflammatory way or misrepresenting a health condition in any way;</li>
            <li>material or content for which you were compensated or granted any consideration by any third party;</li>
            <li>content or materials in which you impersonate another person or entity;</li>
            <li>content or materials intended to create disruption or to mislead others interacting with the Services, such as posting multiple reviews in an effort to monopolize the forum or posting a Communication unrelated to the Services designated topic or theme;</li>
            <li>third party websites, addresses, email addresses, contact information or phone numbers; or</li>
            <li>programming or materials containing any Trojan horses, computer viruses, worms, harmful code, or other potentially damaging computer programs or files.</li>
        </ul>
        <p>P&G shall have the right, but not the obligation, to remove or refuse to post any Communication within the Services tool that it deems, in its sole discretion, to violate the content submission guidelines noted above or any other provision of this Agreement or to take such action for any other reason it deems appropriate. P&G does not guarantee that you will have any recourse through P&G to edit or delete any Communication that you have submitted. You acknowledge that you, not P&G , are responsible for the contents of any Communication(s). None of the Communications that you submit shall be subject to any obligation of confidence on the part of P&G and its third party service providers and agents or their respective directors, officers and employees.</p>
        
        <h3>IP AND RIGHT OF PUBLICITY REPRESENTATIONS AND WARRANTIES</h3>
        <p>By submitting a Communication, you represent and warrant that you have the right to submit the Communication to P&G . You also represent and warrant that the Communication is original, was created by you, and does not contain any material or information whose inclusion in the Communication and/or use by P&G in connection with P&G s exploitation of the Communication hereunder would violate or infringe upon any copyright, trademark, right of publicity or persona, right of privacy, moral rights, or other personal or proprietary right of any person or entity or violate any law or regulation.</p>
        <p>Each Communication submitted by you must consist entirely of material and/or information that is owned by you, including but not limited to any text, music, recordings, illustrations, photographic images, and videographic clips. By submitting a Communication, you represent and warrant that it does not contain any material or information that is owned or controlled by anyone other than you.</p>
        <p>You further agree that you shall not submit any Communication that contains the name, nickname, username, biographical information, vocal recordings, and/or any illustrations, photographic or videographic clips, portraits, likenesses or pictures of any third party or any other indicia of third party right of publicity rights (collectively "Third-Party Personal Content"). By submitting a Communication, you represent and warrant that it does not contain any Third-Party Personal Content.</p>

        <h3>RELEASE AND GRANT OF RIGHTS</h3>
        <p>For the good and valuable consideration of participating in the Services and of having your Communication(s) considered for use by P&G in the Services and/or as otherwise detailed below, sufficiency of which you hereby acknowledge, you hereby grant to P&G a non-exclusive, worldwide, perpetual, irrevocable, fully paid-up, royalty-free, fully sublicenseable and transferable right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, transmit, display, and perform such Communication(s), in whole or in part, in any media, format or technology, whether now known or hereafter discovered, and in any manner including, but not limited to, all promotional advertising, marketing, publicity, and commercial uses and ancillary uses thereof, without any further notice or payment to or permission needed from you (except where prohibited by law). You also hereby grant to P&G an unrestricted, worldwide, perpetual, irrevocable, fully paid-up, royalty-free, fully sublicensable and transferable right to use your name, nickname, user name, biographical information, vocal recordings of you, and/or any illustrations, photographic or videographic clips, portraits, likenesses or pictures of you or any other indicia of your right of publicity rights (collectively "Your Personal Content") as contained in your Communication(s), in composite or distorted form or as otherwise incorporated into other creative works of authorship, in any media, format or technology, whether now known or hereafter discovered, and in any manner including, but not limited to, all promotional advertising, marketing, publicity, and commercial uses and ancillary uses thereof, without any further notice or payment to or permission needed from you (except where prohibited by law).You also agree to waive any applicable moral rights to Your Personal Content as contained in your Communication(s) for such identified uses. Without limitation of the foregoing, submission of a Communication constitutes your agreement that P&G is permitted (but is not obligated) to display the Communication online for public viewing and/or comment (whether on P&G s web pages or on third party web pages), to incorporate the Communication in online and offline promotional advertising, marketing, and/or other commercial materials, and to reproduce, adapt and distribute the Communication in all media whether now known or later developed.</p>
        <p>By submitting a Communication, you hereby agree to release, hold harmless and indemnify on behalf of yourself and your successors, assigns and representatives, P&G and each of its respective officers, directors and employees from and against any and all claims, suits, actions, demands, liabilities and damages of any kind whatsoever arising out of or in connection with the use of such Communication by P&G , including, without limitation, any and all claims for copyright infringement, invasion of privacy, violation of the right of publicity or of moral rights, and/or defamation. Without limitation of the foregoing, in no event will you be entitled to, and you waive any right to, enjoin, restrain or interfere with use of the Communication or Your Personal Content embodied in such Communication or the exploitation of any of the P&G s rights as provided herein.</p>
        <p>You are not a professional actor. To your knowledge, the Communication you submit, or any part thereof, has not been included in or planned for use in any other advertising or promotional material. You are currently a bona fide user of the P&G product(s) about which you have submitted a Communication. The Communication you submit will be made without any prior payment or promise of payment having been made to you or the expectation by you of any payment in return for submitting such Communication. The Communication you submit will also be made without any prior benefit having been made to you or the expectation of any future benefit, except for the possibility of having your Communication used for P&G promotional purposes. The statements you make in the Communication reflect your true and honest opinion of and experience with the P&G products which you are reviewing.</p>
        <p>You understand that P&G is relying upon the foregoing representations and warranties, grants of rights and licenses, and releases in permitting you to submit a Communication. You acknowledge that you may not terminate or rescind the grants of rights and licenses and/or the releases contained herein.</p>

        <h3>CHOICE OF LAW, VENUE AND JURISDICTION</h3>
        <p>This Agreement shall be governed by and interpreted in all respects in accordance with the substantive laws of the Republic of Singapore, without regard to its choice of law provisions. You agree that any disputes directly or indirectly arising out of or relating to this Agreement shall be resolved exclusively in the courts in Singapore. You hereby irrevocably consent to such venue and to the exclusive jurisdiction of any such court over any such dispute. If any provision of this Agreement is determined to be invalid by a court of competent jurisdiction, such determination shall in no way affect the validity or enforceability of any other provision herein. This Agreement sets forth the entire agreement of the parties with respect to the subject matter hereof, may not be changed except by an instrument in writing signed by both parties and supersedes any and all prior agreements between the parties</p>
        <p>If you do not agree with the content of this Agreement and/or do not want your Communication considered for any of P&G s and its brands promotional purposes, including but not limited to online and offline advertising materials related to P&G and any one or more of its brands, do not proceed to select the submit button.</p>
    </div>
    </form>
</body>
</html>
