﻿<%@ Page Title="test" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="test.aspx.cs" Inherits="test" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
        <iframe id="myIframe" src="Login.aspx" height="100%" width="100%"></iframe> 

</asp:Content>