﻿<%@ Page Title="CMS Home" Language="C#" MasterPageFile="~/CMS/SiteCMS.master" AutoEventWireup="true"
    CodeFile="CMSHome.aspx.cs" Inherits="CMSHome" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
     <h2>
        Welcome to SWISSE CMS!
    </h2>
    <p>
       You can modify here all the contents of SWISSE website. 
    </p>
</asp:Content>
