﻿<%@ Page Title="Events" Language="C#" MasterPageFile="~/CMS/SiteCMS.master" AutoEventWireup="true"
    CodeFile="Events.aspx.cs" Inherits="Events" %>
    
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit.HTMLEditor"
    TagPrefix="cc1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
<asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
    </asp:ToolkitScriptManager>
      <asp:Label ID="Label5" runat="server" Text="Content"></asp:Label>
                                             <cc1:Editor ID="txtContent" runat="server" />
                                            <p></p>
    <asp:Button ID="btnSave" runat="server" Text="SAVE" onclick="btnSave_Click" />
    <asp:Button ID="btnCancel" runat="server" Text="CANCEL" 
        onclick="btnCancel_Click" />
</asp:Content>
