﻿<%@ Page Title="Health & Happiness Blog" Language="C#" MasterPageFile="~/CMS/SiteCMS.master" AutoEventWireup="true"
    CodeFile="HealthAndHappinessBlog.aspx.cs" Inherits="HealthAndHappinessBlog" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <asp:Button ID="btnAdd" runat="server" Text="BLOG ARTICLES" 
        onclick="btnAdd_Click" />
        <p></p>
    <asp:Literal ID="litHealthAndHappinessBlog" runat="server"></asp:Literal>
</asp:Content>
