﻿
<%@ Page Title="Login CMS" Language="C#" MasterPageFile="~/CMS/CMSLogin.master" AutoEventWireup="true"
    CodeFile="LogoutCMS.aspx.cs" Inherits="LogoutCMS" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
 
</asp:Content>
