﻿<%@ Page Title="Offers & Promos" Language="C#" MasterPageFile="~/CMS/SiteCMS.master" AutoEventWireup="true"
    CodeFile="OffersAndPromos.aspx.cs" Inherits="OffersAndPromos" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <asp:Literal ID="litOffersAndPromos" runat="server"></asp:Literal>
</asp:Content>
