﻿<%@ Page Title="Our Story" Language="C#" MasterPageFile="~/CMS/SiteCMS.master" AutoEventWireup="true"
    CodeFile="OurStory.aspx.cs" Inherits="OurStory" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <asp:Button ID="btnAmbassadors" runat="server" 
        Text="SWISSE AMBASSADORS ARTICLES" onclick="btnAmbassadors_Click" />
<p></p>
    <asp:Literal ID="litOurStory" runat="server"></asp:Literal>
</asp:Content>
