﻿<%@ Page Title="Shop Products" Language="C#" MasterPageFile="~/CMS/SiteCMS.master" AutoEventWireup="true"
    CodeFile="ShopProducts.aspx.cs" Inherits="ShopProducts" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <asp:Literal ID="litShopProducts" runat="server"></asp:Literal>
</asp:Content>
