﻿<%@ Page Title="The Science Of Swisse" Language="C#" MasterPageFile="~/CMS/SiteCMS.master" AutoEventWireup="true"
    CodeFile="TheScienceOfSwisse.aspx.cs" Inherits="TheScienceOfSwisse" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
  <asp:Button ID="btnIngredients" runat="server" 
        Text="INGREDIENTS ARTICLES" onclick="btnIngredients_Click" />
<p></p>
    <asp:Literal ID="litTheScienceOfSwisse" runat="server"></asp:Literal>
</asp:Content>
